// FONTS
$regular: 'open_sansregular';
$semibold: 'open_sanssemibold';
$bold: 'open_sansbold';
$pacific: 'pacificoregular';

// COLORS
$white: #fff;
$headerBg: #4b5964;
$headerBtn: #3d93d1;
$headerSub: #dcdcdc;
$headerTxt: #a0a0a0;
$brands: #ebebeb;
$brandsBot: #c3c3c3;
$articleCl: #8395a2;
$articleTit: #878f96;
$articleBtn: #4f95cd;
$articleTxt: #a4a4a4;
$blue: #3c92d0;
$timeTxt: #b6b6b6;
