@font-face {
    font-family: 'Open Sans Semibold';
    src: url('../fonts/opensans-semibold-webfont.woff2') format('woff2'),
         url('../fonts/opensans-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans Regular';
    src: url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('../fonts/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Source Sans Proregular';
    src: url('../fonts/sourcesanspro-regular-webfont.woff2') format('woff2'),
         url('../fonts/sourcesanspro-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
body{
	font: 16px "Open Sans", arial, sans-serif;
}
.box{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.container{
	width: 1140px;
	margin: 0 auto;
	position: relative;
}
.left{
	float: left;
}
.right{
	float: right;
}
.left-t{
	text-align: left;
}
.right-t{
	text-align: right;
}
.center-t{
	text-align: center;
}
.clearfix:after{
	content: '';
	display: block;
	clear: both;
}
.title{
	font: 50px "Open Sans Semibold", arial, sans-serif;
	color: #626262;
}
.subtitle{
	font: 15px "Open Sans Regular", arial, sans-serif;
	color: #7b7b7b;
	text-align: center;
	line-height: 25px;
}
.red{
	color: #fc6744;
}
.bold{
	font-weight: 900;
}
/*TOP*/
header{
	background: #f5f5f5;
	padding-top: 80px;
	height: 840px;
}
/*header .container{
	padding-top: 0px;
}*/
header .title{
	margin-bottom: 20px;
}
.logo{
	width: 147px;
	height: 57px;
	border: 3px solid #706b73;
	letter-spacing: 1px;
}
.logo__text{
	font: 37px "Open Sans Semibold";
	color: #494949;
}
.menu{
	display: none;
}
.header__text{
	width: 750px;
	margin: 0 auto;
	margin-top: 130px;
}
/*MESSAGE*/
.message{
	width: 372px;
	margin-top: 56px;
	position: absolute;
	bottom: -494px;
	background: #fff;
	border-radius: 2px;
	padding: 20px 29px;
	-webkit-box-shadow: 0px 0px 13px -4px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 13px -4px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 13px -4px rgba(0,0,0,0.75);
}
.message__title{
	margin-bottom: 60px;
	font: 20px "Open Sans Semibold", arial, sans-serif;
}
input{
	display: block;
	width: 300px;
	margin: 40px 0;
	border: none;
	border-bottom: 1px solid #000;
	font: 15px "Open Sans Regular", arial, sans-serif;
}
textarea{
	width: 300px;
	margin-left: -9px;
	padding-bottom: 47px;
	border: none;
	border-bottom: 1px solid #000;
	font: 15px "Open Sans Regular", arial, sans-serif;
}
.message__button{
	margin-top: 16px;
	width: 236px;
	height: 55px;
	position: relative;
	background: #fc6744;
	border-radius: 26px;
	border: none;
	padding: 10px;
	color: #fff;
	font: 16px "Open Sans Regular", arial, sans-serif;
}
.message__button:hover{
	-webkit-box-shadow: 0px 0px 13px -4px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 13px -4px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 13px -4px rgba(0,0,0,0.75);
}
.message__button:after{
	content: '';
	display: block;
	width: 17px;
	height: 10px;
	position: absolute;
	top: 23px;
	right: 31px;
	background: url(../img/arrow.png);
}
/*CONTENT*/
.process{
	background: #fff;
	padding-top: 130px;
	padding-bottom: 183px;
}
/*.process .title{
	margin-bottom: 0px;
}*/
.know{
	margin-top: 105px;
}
.know__item{
	width: 263px;
	margin-right: 28px;
	padding-top: 116px;
	position: relative;
	background: #4eb2f7;
}
.know__item:last-child{
	margin-right: 0;
}
.know__title:before{
	content: '';
	background: url(../img/know_icons.png);
	display: block;
	width: 55px;
	height: 52px;
	position: absolute;
	top: 52px;
	left: 107px;
}
.know__item--second .know__title:before{
	background-position: 174px 0;
}
.know__item--second{
	background: #c049f8;
}
.know__item--third .know__title:before{
	background-position: 340px 0;
}
.know__item--third{
	background: #817eff;
}
.know__item--four .know__title:before{
	background-position: 505px 0;
}
.know__item--four{
	background: #f74770;
}
.know__title{
	font: 20px "Open Sans Semibold", arial, sans-serif;
	color: #fff;
}
.know__text{
	padding-top: 14px;
	line-height: 21px;
	color: #fff;
	font: "Open Sans Regular";
	padding-bottom: 63px;
}
.know__button{
	width: 230px;
	height: 55px;
	position: absolute;
	left: 16px;
	bottom: -26px;
	border-radius: 25px;
	border: 1px solid #ededed;
	background: #fff;
	color: #000;
}
.know__button:hover{
	-webkit-box-shadow: 0px 0px 13px -4px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 13px -4px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 13px -4px rgba(0,0,0,0.75);
}
.know__button:before{
	content: '';
	display: block;
	width: 16px;
	height: 16px;
	position: absolute;
	left: 50px;
	background: url(../img/plus.png);
}
/*WORKS*/
.works{
	background: #fbfbfb;
	padding-top: 114px;
	padding-bottom: 150px;
}
.grid{
	margin-top: 111px;
}
.grid__items{
	width: 358px;
	height: 358px;
	background: #ff5c36;
	margin-right: 30px;
	margin-bottom: 22px;
}
.grid__items:nth-child(3n){
	margin-right: 0;
}
/*SERVICE*/
.service{
	padding-top: 128px;
	padding-bottom: 251px;
}
.service__columns{
	margin-top: 125px;
}
.service__left{
	width: 106px;
}
.service__items{
	margin: 5px 0;
}
.service__links{
	display: block;
	width: 106px;
	height: 94px;
	background: #fbfbfb url(../img/service_sprites.png) 20px 25px no-repeat;
}
.service__links:hover{
	-webkit-box-shadow: 0px 0px 13px -4px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 13px -4px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 13px -4px rgba(0,0,0,0.75);
}
.service__links--2{
	background-position: 18px -75px;
}
.service__links--3{
	background-position: 18px -175px;
}
.service__center{
	width: 518px;
	margin-left: 230px;
}
.service__title{
	margin-bottom: 25px;
	font: 30px/48px "Open Sans Regular", arial, sans-serif;
	color: #404040;
}
.service__title:after{
	content: '';
	display: block;
	height: 3px;
	width: 57px;
	border-bottom: 2px solid #ff5c36;
}
.service__text{
	margin-bottom: 20px;
	line-height: 24px;
}
.service__button{
	width: 241px;
	height: 55px;
	position: relative;
	border-radius: 30px;
	border: 1px solid #ededed;
	background: #fff;
}
.service__button:hover{
	-webkit-box-shadow: 0px 0px 13px -4px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 13px -4px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 13px -4px rgba(0,0,0,0.75);
}
.service__button:before{
	content: '';
	display: block;
	width: 16px;
	height: 16px;
	position: absolute;
	left: 50px;
	background: url(../img/plus.png);
}
.service__right{
	position: absolute;
	right: -40px;
	bottom: -90px;
}
/*TEAM*/
.team{
	padding-top: 126px;
	padding-bottom: 176px;
	background: #fbfbfb;
}
.team__columns{
	margin-top: 123px;
}
.team__items{
	width: 362px;
	height: 446px;
	margin-right: 27px;
	position: relative;
	background: #ff5c36;
}
.team__items:last-child{
	margin-right: 0px;
}
.team__name{
	width: 261px;
	height: 95px;
	position: absolute;
	bottom: -25px;
	left: 47px;
	background: #fff;
	-webkit-box-shadow: 0px 0px 13px -4px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 13px -4px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 13px -4px rgba(0,0,0,0.75);
	-webkit-transition: bottom .3s ease-in-out;
	-o-transition: bottom .3s ease-in-out;
	transition: bottom .3s ease-in-out;
}
.team__title{
	font: 30px "Open Sans Semibold", arial, sans-serif;
	line-height: 55px;
}
.skills{
	position: absolute;
	top: 165px;
	left: 107px;
}
.skills__text{
	font: 11px "Open Sans Regular", arial, sans-serif;
	line-height: 32px;
}
.skills__bar{
	width: 150px;
	height: 4px;
	background: #817f7e;
}
.skills__slide{
	display: block;
	width: 80%;
	height: 4px;
	background: #ff6e47;
	animation: sliding 1s ease-in-out;
}
.skills--slide{
	width: 60%;
	animation: sliding2 1s ease-in-out;
}
.skills--slide2{
	width: 100%;
	animation: sliding3 1s ease-in-out;
}
@keyframes sliding {
  0% {
    width: 0;
  }

  100% {
    width: 80%;
  }
}
@keyframes sliding2 {
  0% {
    width: 0;
  }

  100% {
    width: 60%;
  }
}
@keyframes sliding3 {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}
.social__items{
	display: inline-block;
	width: 17px;
	height: 19px;
	background: url(../img/social_sprites.png);
}
.facebook{
	background-position: 34px 0;
}
.skills{
	display: none;
}
.team__items:hover .team__name--hover{
	background-color: transparent;
	bottom: 10px;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.team__items:hover .skills{
	display: block;
}
.team__items:hover{
	background: #fff3f0;

}
/*CLIENTS*/
.clients{
	padding-top: 135px;
	padding-bottom: 163px;
}
.clients__wrapper{
	margin: 70px -27px 0px;
	padding: 0 10px;
}
.clients__items{
	width: 546px;
	margin: 55px 27px 0px;
	border: 1px solid #000;
	padding: 94px 50px 35px 50px;
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font: 17px "Source Sans Proregular";
}
.clients__items:last-child{
	margin-right: 0;
}
.clients__text{
	line-height: 28px;
}	
.clients__text:before{
	content: '';
	display: block;
	height: 100px;
	width: 100px;
	border-radius: 50%;
	border: 1px solid #000;
	position: absolute;
	top: -56px;
	left: 217px;
	background: #fff;
}
.clients__text:after{
	content: '';	
	display: block;
	height: 13px;
	width: 60px;
	margin: 0 auto;
	margin-top: 5px;
	background: url(../img/star.png) repeat-x;
}
.clients__sign{
	padding-top: 25px;
}
/*CLIENTS ARROWS*/

.prev{
	display: block;
	height: 50px;
	width: 50px;
	position: absolute;
	top: 325px;
	left: -31px;
	background: #fff;
	outline: none;
	border: 0px;
	border-radius: 50%;
	cursor: pointer;
	-webkit-box-shadow: 0px 0px 13px -4px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 13px -4px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 13px -4px rgba(0,0,0,0.75);
}
.prev:hover, .next:hover{
	/*opacity:0;*/
	background: #ff6e47;
	color: #fff;
}
.next{
	display: block;
	height: 50px;
	width: 50px;
	position: absolute;
	top: 325px;
	right: -26px;
	background: #fff;
	outline: none;
	border: 0px;
	border-radius: 50%;
	cursor: pointer;
	-webkit-box-shadow: 0px 0px 13px -4px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 13px -4px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 13px -4px rgba(0,0,0,0.75);
}
/*LINKS*/
.links{
	background: #fbfbfb;
	padding-top: 80px;
	padding-bottom: 90px;
}
.links__item{
	display: inline-block;
	margin-right: 61px;
}
.links__item:last-child{
	margin-right: 0;
}
.links__links{
	display: block;
	width: 135px;
	height: 33px;
}
/*FOOTER*/
footer{
	background: #f7f7f7;
	padding-top: 41px;
	padding-bottom: 52px;
}
.nav__wrap{
	width: 532px;
	margin: 0 auto;
	padding-top: 43px;
}
.footer__button{
	width: 236px;
	height: 55px;
	border-radius: 25px;
	border: 1px solid #ededed;
	background: #fff;
	font: 16px "Open Sans Regular", arial, sans-serif;
}
.footer__button:hover{
	-webkit-box-shadow: 0px 0px 13px -4px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 13px -4px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 13px -4px rgba(0,0,0,0.75);
}
.footer__items{
	display: inline-block;
	margin-right: 7px;
}
.footer__links{
	display: block;
	width: 57px;
	height: 57px;
	background: url(../img/social_sprites_footer.png);
}
.twit{
	background-position: 170px 0;
}
.globe{
	background-position: 342px 0;
}
.be{
	background-position: 512px 0;
}
.footer__links:hover{
	background-position: 0 -55px;
}
.twit:hover{
	background-position: -57px -55px;
}
.globe:hover{
	background-position: -112px -55px;
}
.be:hover{
	background-position: -169px -55px;
}
.copyright{
	margin-top: 21px;
	margin-left: 20px;
}
