@mixin flexbox($direction: row, $spacing: space-around, $wrap: nowrap, $alignment: null){
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: $direction;
  justify-content: $spacing;
  flex-wrap: $wrap;
  align-items: $alignment;
}