$yellow: #f4b60d;
$mainblue: #248cec;
$blue: #2690f4;
$dark: #2a2d32;
$gray: #e9e9ea;
$logodark: #434343;
$medium: 'Ubuntu Medium', sans-serif;
$light: 'Ubuntu Light', sans-serif;
$condensed: 'Ubuntu Condensed';
$arial: Arial, sans-serif;
$fz12: 12px;
$fz13: 13px;
$fz14: 14px;
$fz16: 16px;
$fz20: 20px;
$fz24: 24px;
$fz30: 30px;

