* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.container {
  width: 50%;
  margin: 20px auto;
  padding: 10px;
  box-shadow: 0 0 2px #cccccc; }

.columns-container {
  padding: 10px;
  background: #ecf0f1;
  border: 2px solid #34495e; }
  .columns-container:after {
    content: '';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }

.float {
  width: 150px;
  min-height: 100px;
  padding: 10px;
  color: white;
  background: #3498db;
  border: 2px solid #34495e; }

.float1 {
  float: left; }

.float2 {
  float: right; }

.wrapper {
  max-width: 920px;
  margin: 0 auto;
  padding: 30px 30px;
  background: #eee; }

.header {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: no-wrap;
  min-height: 50px;
  margin-bottom: 20px; }
  .header .title {
    text-transform: uppercase;
    font-size: 21px;
    margin: 0;
    align-self: center; }

.block-wrap {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: no-wrap; }

.left-block {
  flex: 1;
  margin-right: 10px; }
  .left-block__items {
    min-height: 200px;
    margin-top: 10px;
    border: 1px solid #000; }
  .left-block__items:first-child {
    margin-top: 0; }

.right-block {
  flex: 1;
  margin-left: 10px; }
  .right-block__items {
    min-height: 115px;
    border: 1px solid #000;
    margin-top: 10px; }
  .right-block__items:first-child {
    margin-top: 0; }
  .right-block__items:nth-child(2) {
    min-height: 180px; }
  .right-block__items:nth-child(3) {
    min-height: 180px; }

.footer {
  min-height: 80px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: no-wrap;
  margin-top: 20px; }
  .footer .title {
    text-transform: uppercase; }

.header, .footer {
  border: 1px solid #000; }

@media screen and (max-width: 640px) {
  .container {
    display: none; }
  .block-wrap {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: no-wrap; }
    .block-wrap .left-block, .block-wrap .right-block {
      margin: 0; } }

fieldset {
  padding: 30px 30px; }

#align {
  position: absolute; }
