*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	list-style-type: none;
}
.container{
	width: 40%;
	margin: 50px auto;
}
form{
	border: 1px solid #000;
	border-radius: 5px;
	padding: 10px;
}
.form-field{
	text-align: center;
	margin: 15px;
	&__inp{
		width: 100%;
		padding: 10px;
	}
}
button{
		padding: 10px 30px;
		border-radius: 5px;
		border: none;
}
.confirm-field{
	text-align: center;
	padding: 15px;
	opacity: 0;
	transition: opacity .34s;
	// transform: translateY(-134px);
	p{
		margin: 10px 0;
	}
}
.visible{
	opacity: 1;
	// transform: translateY(0px);
}
.green{
	background: green;
}
.red{
	background: red;
}