// Fonts
$lato: 'Lato', arial, sans-serif;

// Colors
$white: #fff;
$black: #000;
$lightGray: #9b9ea2;
$gray: #373c44;
$turquoise: #00c59e;
$red: #df4343;
$green: #64b341;
$purple: #874ab6;
$orange: #ffa200;
$blue: #2f84e5;
$darkBlue: #204b93;