@mixin flexbox($direction: row, $spacing: space-between, $alignment: null){
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: $direction;
  justify-content: $spacing;
  align-content: $alignment;
}