// FONTS
$bold: 'Brandon Bd', serif, sans-serif; 
$regular: 'Brandon Rg', serif, sans-serif;
$medium: 'Brandon Md', serif, sans-serif;
$light: 'Brandon Lg', serif, sans-serif;

// COLORS
$grey: #fafafa;
$black: #000;
$blue: #7690c5;