@import 	"fonts",
			"mixins",
			"var",
			"norm";

// GLOBAL
.wrapper{
	max-width: 1020px;
	padding: 0 10px;
	margin: 0 auto;
}
*{
	box-sizing: border-box;
}
// HEADER
header{
	background: rgba(0,0,0,.5) url(../img/header_bg.jpg) 0 0 no-repeat;
	background-size: cover;
}
.top{
	padding: 2% 0;
	@include flexbox($spacing: space-between, $alignment: center);
	.logo{
		&__link{
			text-transform: uppercase;
		}
	}
	.logo, .menu{
		a{
			text-decoration: none;
			color: #fff;
		}
	}
	.menu{
		a{
			text-transform: capitalize;
			margin-right: 10px;
		}
	}
}
#mobile-menu{
	display: none;
}
.hidden-menu{
	width: 100%;
	@include flexbox($direction: column, $spacing: center)
	position: relative;
}
.toggle{
	display: none;
	outline: 0;
	align-self: center;
	padding: 15px 10px;
	border: none;
	border-radius: 2px;
	span{
		display: block;
		width: 20px;
		height: 3px;
		position: relative;
		background: #000;
		&:before{
			content: "";
			display: block;
			position: absolute;
			top: -5px;
			width: 20px;
			height: 3px;
			background: #000;
		}
		&:after{
			content: "";
			display: block;
			width: 20px;
			height: 3px;
			position: absolute;
			bottom: -5px;
			background: #000;
		}
	}
}
.mobile-menu{
	text-align: center;
	background: rgba(0,0,0,.3);
	list-style-type: none;
	overflow: hidden;
	margin: 0;
	padding: 0;
	transition: max-height .4s;
	&__links{
		color: #fff;
		text-decoration: none;
	}
}
.middle{
	padding: 150px 0 270px 0;
	text-align: center;
	color: #fff;
	@include flexbox($direction: column);
	&__pretitle{
		font-size: 23px;
	}
	&__title{
		margin: 0 0 20px 0;
		text-transform: uppercase;
		font: 66px $bold;
	}
	&__btn{
		width: 150px;
		height: 40px;
		margin: 0 auto;
		font: 16px $bold;
		border-radius: 5px;
		border: none;
		outline: none;
	}
}
// DEVELOPMENT
#develop{
	padding: 100px 0;
}
.develop-wrap{
	padding: 0 10px;
	@include flexbox($direction: row, $spacing: space-between);
}
.develop{
	padding-right: 10%;
	@include flexbox($direction: column);	
	&__title{
		font: 60px $bold;
		span{
			font-family: $light;
		}
	}
	p{
		font: 18px $regular;
	}
}
.image{
	@include flexbox();
	img{
		align-self: center;
	}
}
// BRANDING
#branding{
	padding: 100px 0;
	background: $grey;
}
.branding-wrap{
	padding: 0 10px;
	@include flexbox();
	.branding-image{
		padding-right: 10%;
	}
}
// CATEGORIES
#categories{
	padding: 100px 0;
}
.categories-wrap{
	padding: 0 10px;
	@include flexbox($spacing: space-around);
}
.block-items{
	@include flexbox();
	&__img{
		img{
			width: 63px;
			height: 72px;
			padding: 30% 15% 0 0;
		}
	}
}
.left-block{
	padding-right: 10%;
}
// CLIENTS
#clients{
	background: $grey;
	padding: 100px 0;
}
.client-wrap{
	padding: 0 10px;
	&__title{
		font: 60px $bold;
		span{
			font-family: $light;
		}
	}
	&__subtitle{
		font: 18px $regular;
	}
	text-align: center;
	@include flexbox($direction: column);
}
.content{
	margin-top: 40px;
	@include flexbox();
}
.content-txt{
	@include flexbox($direction: column, $spacing: center, $alignment: flex-start);
	position: relative;
	background: #fff;
	p:nth-child(2){
		color: $blue;
	}
}
.content-txt--arrow-right{
	position: relative;
	background: #fff;
}
// LOGOS
.logos{
	padding: 60px 0;
}
.logos-wrap{
	padding: 0 10px;
	@include flexbox($wrap: wrap);
	a{
		transition: transform .5s;
		&:hover{
			transform: scale(1.05);
		}
	}
}
// TEAM
#team{
	text-align: center;
	padding: 100px 0;
	background: #000;
	color: #fff;
}
.team-wrap{
	padding: 0 10px;
	font: 20px $regular;
	&__title{
		font: 60px $bold;
		span{
			font-family: $light;
		}
	}
	&__subtitle{
		font: 18px $regular;
	}
	&__last{
		margin-top: 40px;
	}
}
.team{
	margin-top: 60px;
	@include flexbox();
}
.team-items{
	&__name{
		margin-top: 20px;
	}
	&__social{
		a{
			display: inline-block;
			width: 42px;
			height: 42px;
			background: url(../img/social-icons.png)0 0 no-repeat;
			transition: all .4s;
			&:hover{
				background-position: 0 -42px;
			}
		}
		.face{
			background-position: -42px 0;
			&:hover{
				background-position: -42px -42px;
			}
		}
		.pint{
			background-position: -84px 0;
			&:hover{
				background-position: -84px -42px;
			}
		}
	}
}
// HELLO
#hello{
	padding: 100px 0;
	background: $blue;
	color: #fff;
}
.hello-wrap{
	padding: 0 10px;
	@include flexbox($spacing: space-around);
}
.hello{
	font-family: $regular;
	&__title{
		font: 60px $bold;
		span{
			font-family: $light;
		}
	}
}
.contacts{
	@include flexbox();
	a{
		display: block;
		margin: 5px 0;
		color: #fff;
		text-decoration: none;
		transition: color .4s;
		&:hover{
			color: #000;
		}
	}
}
.form{
	form{
		margin-top: 40px;
		@include flexbox($direction: column);	
		input, textarea{
			margin-bottom: 10px;
			padding: 10px;
			color: #000;
			border: none;
			border-radius: 2px;

		}
	}
}
// FOOTER
footer{
	text-align: center;
	padding: 10px 0;
	border-top: 1px solid $grey;
	color: #fff;
	font: 14px $regular;
	background: $blue;
}
// MEDIA
@media (max-width: 840px){
	.develop-wrap{
		.develop{
			text-align: center;
			padding-right: 0;
		}
		.image{
			display: none;
		}
	}
	.branding-wrap{
		.branding-image{
			display: none;
		}
		.branding{
			text-align: center;
		}
	}
	.content{
		@include flexbox($spacing: center);
		.content-img{
			display: none;
		}
	}
	.team{
		@include flexbox($direction: column);
	}
	.team-items{
		margin-bottom: 40px;
	}
}
@media (max-width: 550px){
	.menu{
		display: none;
	}
	.toggle{
		display: block;
	}
	#mobile-menu{
		display: block;
	}
	.mobile-menu{
		max-height: 0px;
	}
	.show{
		max-height: 10em;
	}
	.middle{
		&__pretitle{
			font-size: 16px;
		}
		&__title{
			font-size: 23px;
		}
	}
	.categories-wrap, .logos-wrap{
		@include flexbox($direction: column)
	}
	.logos-wrap{
		text-align: center;
		a{
			margin-bottom: 10px;
		}
	}
	.hello-wrap{
		@include flexbox($direction: column, $wrap: wrap);
	}
}
