@import 'norm',
		  'var';
// HEADER
.header{
	width: 100%;
	height: 160px;
	padding-top: 20px;
	background: url(../img/headerBg.jpg)center no-repeat;
	background-size: cover;
}
.dragon{
	padding-top: 30px;
	margin-left: 140px;
}
.s-oil{
	width: 267px;
	// padding-left: 50px;
	margin-left: 85px;
}
.seven{
	padding-top: 10px;
	margin-left: 140px;
}
// UNDERHEAD
.status{
	text-align: center;
	margin-bottom: 10px;
	&__title{
		text-transform: uppercase;
	}
}
.baner{
	margin-bottom: 40px;
}
// MAIN
.main-items{
	margin-bottom: 20px;
}
.articles-header{
	position: relative;
	&:before{
		content: '';
		display: block;
		width: 10px;
		height: 15px;
		position: absolute;
		top: 12px;
		// left: -10px;
		background: url(../img/rectangle.png)center no-repeat;
	}
	text-transform: capitalize;
	&__span{
		text-transform: none;
	}
	&__title{
		text-indent: 15px;
		color: $txtB;
	}
	&__sub{
		color: $txt;
		font-size: 20px;
		text-indent: 15px;
		font-weight: bold;
		margin-top: -10px;
		margin-bottom: 15px;
	}
}
.articles-img{
	margin-top: 19px;
}
// VIDEO
.video{
	margin-top: 70px;
	text-align: center;
}
// APPLICATION
.application{
	margin-top: 70px;
	padding-bottom: 222px;
	color: $txtB;
}
.first-row{
	position: relative;
	&__eng:after{
		content: '';
		display: block;
		width: 23px;
		height: 62px;
		position: absolute;
		top: 0px;
		left: 370px;
		background: url(../img/rectangle2.png)center no-repeat;
	}
}
.second-row{
	text-align: center;
	margin-top: 60px;
	&__txt{
		font-size: 25px;
	}
}
.form-control{
	border-radius: 0;
	border: 1px solid $txtB;
}
.btn{
	border-radius: 0;
	margin-top: 20px;
	margin-left: 109px;
	background: $txtB;
}
// FOOTER
.footer{
	padding: 40px 0;
	background: url(../img/footerBg.jpg)center no-repeat;
	&-left{
		position: relative;
		&:before{
			content: '';
			display: block;
			width: 250px;
			height: 75px;
			position: absolute;
			top: -80px;
			background: url(../img/s-oil-footer.jpg)center no-repeat;
		}
	}
}
.list{
	padding-top: 20px;
	padding-left: 50px;
	&__items{
		list-style-type: none;
		color: $white;
		text-transform: uppercase;
		font-size: 12px;
	}
	&__link{
		color: $txtB;
	}
}
.footer-right{
	margin-top: 18px;
	color: $white;
	&__link{
		color: $txtB;
	}
	&__span{
		display: block;
		margin-left: 300px;
	}
}





