@font-face {
    font-family: 'regular';
    src: url('../fonts/glyphicons-halflings-regular-webfont.woff2') format('woff2'),
         url('../fonts/glyphicons-halflings-regular-webfont.woff') format('woff'),
         url('../fonts/glyphicons-halflings-regular-webfont.ttf') format('ttf'),
         url('../fonts/glyphicons-halflings-regular-webfont.eot') format('eot');
    font-weight: normal;
    font-style: normal;

}