// FONTS
$proximaR: 'proxima_nova_rgregular', arial, sans-serif;
$proximaB: 'proxima_nova_rgbold', arial, sans-serif;
$proximaL: 'proxima_nova_ltlight', arial, sans-serif;
$montserratL: 'montserratlight', arial, sans-serif;
$montserratB: 'montserratbold', arial, sans-serif;
$nautilius: 'nautilus_pompiliusregular';


// COLORS
$white:  #fff;
$black:  #000;
$green:  #54d154;
$darkG:  #207b20;
$lightGr: #2b9b2b;
$gray:   #828181;
$lightG: #b7b3b3;
$clientsBg: #f2f1f1;
$socialBg: #c5e9c5;
$workBg: #3eba3e;
$prefooterBg: #333333;
$prefooterTxt: #cccccc;
$formBg: #444444;
$yellow: #ffba00;
$blue: #089dea;
$orange: #f34d04;
