@import 'mixins';
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.container{
	max-width: 1060px;
	margin: 40px auto;
}
.box{
	@include flex($wrap: wrap);
	opacity: 1;
	&__items{
		@include flex($alignment: center, $spacing: center);
		height: 200px;
		width: 200px;
		margin: 10px 5px;
		background: green;
		transition: opacity .34s;
	}
	& > &__items:hover{
		opacity: 1;
	}
	&:hover > &__items:not(:hover){
		opacity: .5;
	}
}
// SEARCH
.search{
	position: relative;
	&__check{
		border: 1px solid #3192CD;
	}
	label{
		display: inline-block;
		width: 35px;
		height: 35px;
		cursor: pointer;
		padding: 10px;
		background: lightblue;
		color: #3492CD;
		transition: all .34s;
	}
	&__inp{
		width: 0;
		height: 35px;
		margin-left: -5px;
		position: absolute;
		left: 40px;
		border: 0px solid transparent;
		transition: width .34s;
		padding-left: 10px;
	}
}
#open{
	display: none;
}
#open:checked + label {
	color: #fff;
	background: #3192CD;
}
#open:checked ~ .search__inp{
	width: 150px;
	border: 1px solid #3192CD;
}
.circle{
	width: 150px;
	height: 150px;
	margin: 0 auto;
	border-radius: 50%;
	background: #3192CD;
	transition: background 1s;
}
@media screen and(max-width: 1600px){
	.circle{
		background: #eee;
	}
}
@media screen and(max-width: 1580px){
	.circle{
		background: green;
	}
}
@media screen and(max-width: 1540px){
	.circle{
		background: lightgreen;
	}
}
@media screen and(max-width: 1520px){
	.circle{
		background: yellow;
	}
}
ul{
	border: 1px solid #000;
	list-style-type: none;
	li{
		display: inline-block;
		width: 50px;
		height: 50px;
		border: 1px solid #000;
		margin: 5px;
		overflow: hidden;
		margin-right: 10px;
		// &:nth-child(5){
		// 	display: block;
		// }
	}
}