@import 'var',
		  'normalize';

// HEADER
.header{
	background: $headerBg;
	padding: 20px 0;
}
.header__menu{
	visibility: hidden;
}
.hover{
	position: absolute;
	top: 2px;
	right: 10px;
	display: block;
	width: 30px;
	height: 25px;
	background: url(../img/icon_menu.png)
}
.header__nav:hover .header__menu{
	visibility: visible;
}
.header__nav:hover .hover{
	visibility: hidden;
}
.header-menu__items{
	display: inline-block;
}
// WWD
.wwd{
	text-align: center;
	border-bottom: 2px solid #e1e1e1;
	position: relative;
}
  .wwd::before, .wwd::after {
    content: ''; 
    position: absolute;
    left: 45%; bottom: -42px;
    border: 20px solid transparent;
    border-top: 20px solid #e1e1e1;
   }
   .wwd::after {
    border-top: 20px solid white;
    bottom: -40px; 
   }
.wwd__title{
	text-transform: capitalize;
}
// ARTICLES
.articles{
	margin-top: 60px;
	text-align: center;
}
.articles__items{
	margin-bottom: 80px;
}
.articles__btn{
	margin-top: 10px;
	padding: 10px 40px;
	border: 1px solid $blue;
	border-radius: 20px;
	background-color: transparent;
	color: $blue;
}
.articles__btn--blue{
	padding: 10px 90px;
	background: $blue;
	color: #fff;
}
// CONTACTS
.contacts{
	border-top: 4px solid $blue;
	background: $headerBg;
	padding: 15px 0;
	border-bottom: 1px solid $blue;
}
.contacts__txt{
	color: #fff;
}
.contacts__email{
	color: $blue;
}
// FOOTER
.footer{
	background: $headerBg;
}
.navbar-default{
	background: transparent;
	border: none;
}
.footer__links{
	display: inline-block;
	width: 30px;
	height: 30px;
	border: 1px solid #fff;
	border-radius: 50%;
	background: url(../img/soc-spr.png)center no-repeat;
}



