@import 'var',
		  'normalize';

// HEADER
.header{
	border-top: 4px solid $blue;
	background: $headerBg;
	padding: 20px 0;
}
.header__menu{
	visibility: hidden;
}
.hover{
	position: absolute;
	top: 2px;
	right: 10px;
	display: block;
	width: 30px;
	height: 25px;
	background: url(../img/icon_menu.png)
}
.header__nav:hover .header__menu{
	visibility: visible;
}
.header__nav:hover .hover{
	visibility: hidden;
}
.header-menu__items{
	display: inline-block;
}
.header-menu__links{
	color: #fff;
	text-transform: uppercase;
	&:hover{
		background: #000;
	}
}
.header-menu__items--btn{
	border: 1px solid #fff;
	border-radius: 15px;
}
// WWD
.wwd{
	text-align: center;
	border-bottom: 2px solid #e1e1e1;
	position: relative;
}
  .wwd::before, .wwd::after {
    content: ''; 
    position: absolute;
    left: 45%; bottom: -42px;
    border: 20px solid transparent;
    border-top: 20px solid #e1e1e1;
   }
   .wwd::after {
    border-top: 20px solid white;
    bottom: -40px; 
   }
.wwd__title{
	text-transform: capitalize;
	font-family: serif;
}
// ARTICLES
.articles{
	margin-top: 60px;
	text-align: center;
}
.articles__items{
	margin-bottom: 80px;
}

.articles__btn{
	margin-top: 10px;
	padding: 10px 40px;
	border: 1px solid $blue;
	border-radius: 20px;
	background-color: transparent;
	color: $blue;
}
.articles__btn--blue{
	padding: 10px 90px;
	background: $blue;
	color: #fff;
}
// CONTACTS
.contacts{
	border-top: 4px solid $blue;
	background: $headerBg;
	padding: 15px 0;
	border-bottom: 1px solid $blue;
}
.contacts__txt{
	color: #fff;
}
.contacts__email{
	color: $blue;
}
// FOOTER
.footer{
	background: $headerBg;
}
.navbar-default{
	background: transparent;
	border: none;
}

@media (min-width: 654px){
	.header__menu{
		visibility: visible;
	}
	.wwd::before, .wwd::after{
		left: 49%;
	}
	.hover{
		display: none;
	}
}
@media(min-width: 970px){
	.underheader{
		padding-top: 20px;
		background: $headerBg;
		border-top: 1px solid $darkBlue;
		border: 1px solid $darkBlue;
	}
	.underheader__txt{
		font: 48px serif;
		color: #fff;
		padding: 30px 0;
	}
	.top-nav{
		background: $headerBg;
	}
	.top-nav__links{
		text-transform: uppercase;
		color: #fff;
	}
	.wwd__txt{
		padding-bottom: 40px;
	}
	.try{
		margin-top: 0;
	}
	.up{
		margin-top: 24px;
	}
	.m-up{
		margin-top: -130px;
	}
	.articles__txt-cont{
		font-family: serif;
		font-size: 38px;
		line-height: 34px;
		margin-bottom: 20px;
	}
	.articles__btn--blue{
		margin-top: 20px;
	}
	.footer__links{
		display: block;
		width: 30px;
		height: 30px;
		border-radius: 50%;
		border: 1px solid #fff;
		background: url(../img/face.png)center no-repeat
	}
}
