// COLORS
$green: #63b945;
$lightGreen: #ddffcc;
$grey: #4c4c4c;
$lightGrey: #f1f2f2;
$white: #fff;
$main-txt: #363636;

// FONTS
$fregatBI: "Fregat Bold Italic", arial, sans-serif;
$fregatB: "Fregat Bold", arial, sans-serif;
$fregatI: "Fregat Italic", arial, sans-serif;
$fregat: "Fregat";
$sans: 'PT Sans', sans-serif;