@font-face {
    font-family: luxury;
    src: url('../fonts/design.jasonwalcott.luxury_royale_jf-webfont.woff2') format('woff2'),
         url('../fonts/design.jasonwalcott.luxury_royale_jf-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}