// TEXT
$luxury: luxury;
$openSans: 'Open Sans Condensed';
$font: 16px Arial, sans-serif ;

// COLORS
$white: #fff;
$black: #000;
$lgray: #949393;
$dirty: #7a706d;
$sliderColor: #f6f3ec;
$sliderTitle: #4a4a4a;
$sliderText: #8f8f8f;
$activeGray: #e5e5e5;
$saleColor: #4c4c4c;
$findBg: #f7f7f7;
$gray: #f4f4f4;
$mainItemsContent: #373737;
$asideText: #727272;
$pink: #fd926d;
$footerColor: #ededed;
