@import 'normalize',
				'fonts',
				'variables';
.container{
	max-width: 970px;
	margin: 0 auto;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}
@mixin bg($x){
	background-position: $x 0px;
}
*{
	box-sizing: border-box;
}
// HEADER
.header__top{
	font-size: 11px;
	background: #000;
}
.top__number{
	text-transform: uppercase;
	color: $white;
}
.top__controls{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.top__form{
	margin-right: 10px;
}
.top__currency{
	border: none;
	background-color: transparent;
	color: $white;
}
.top__my-acc, .top__serach{
	display: inline-block;
	margin-right: 10px;
}
.top__my-acc{
	text-transform: uppercase;
}
.top__search{
	margin-right: 0;
}
.top__search:before{
	content: '';
	display: block;
	width: 17px;
	height: 17px;
	background: url(../img/search.png) center no-repeat
}
// HEADER__BOTTOM
.header__bottom{
	padding: 31px 0 18px 0;
}
// .header__bottom .container{
// 	justify-content: space-around;
// }
.header__logo{
	padding-top: 10px;
	// flex: 1;
}
.menu-768{
	display: none;
}
.header__menu{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	padding: 0;
	// flex: 1;
}
.header__items{
	margin-left: 45px;
}
.header__links{
	display: block;
	position: relative;
	color: #000;
	transition: all 0.5s ease-in-out;
	&:hover{
		color: $pink;
	}
}
.header__links:after{
	content: '';
	display: block;
	position: absolute;
	top: 7px;
	right: -14px;
	width: 7px;
	height: 7px;
	background: url(../img/arrow.png) no-repeat;
}
.header__form{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	// flex: 1;
}
.bottom__inp{
	flex: 1;
	height: 25px;
	font-size: 12px;
	padding: 0 5px 0 5px;
}
.bottom__inp2{
	flex: 1;
}
.categories .container{
	border-top: 1px solid $lgray;
	border-bottom: 1px solid $lgray;
	padding: 5px 0 5px 0;
}
.categories__links{
	a{
		color: #000;
		position: relative;
		margin-left: 5px;
	}
}
.home{
	content: '';
	display: inline-block;
	width: 10px;
	height: 10px;
	margin-right: 3px;
	background: url(../img/home.png) no-repeat;
	&:after{
			content: '';
			display: inline-block;
			position: absolute;
			top: 3px;
			right: -9px;
			width: 6px;
			height: 5px;
			background: url(../img/arrowright.png) no-repeat;
	}
}
.women:after{
	content: '';
	display: inline-block;
	margin-right: 1px;
	position: absolute;
	top: 7px;
	right: -9px;
	width: 6px;
	height: 5px;
	background: url(../img/arrowright.png) no-repeat;
	background-size: cover;
}
// SLIDER
.slider{
	background: #f6f3ec;
	margin-bottom: 75px;
}
.top-slider-button{
	position: absolute;
	left: 95px;
	bottom: 93px;
	padding: 15px 35px;
	background: $pink;
	border: none;
	border-radius: 2px;
	color: $white;
	text-transform: uppercase;
	&:after{
		content: '';
		display: block;
		position: absolute;
		top: 20px;
		left: 130px;
		width: 5px;
		height: 10px;
		background: url(../img/arrowrightw.png) no-repeat;
	}
}
.carousel__button{
	width: 100%;
	height: 439px;
	background: url(../img/slider1.jpg)no-repeat;
}
// UPDATED
.updated{
	background: $footerColor;
}
.updated .container{
	font-size: 11px;
}
.email{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	// justify-content: space-between;
	align-items: center;
	position: relative;
}
.email__inp{
	margin-left: 15px;
	padding: 5px;
	height: 20px;
	font-size: 11px;
}
.find{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	// justify-content: space-around;
	align-items: center;
}
.find__menu{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}
.find__items{
	display: inline-block;
	width: 51px;
	text-align: center;
}
.find__links{
	display: block;
	width: 21px;
	height: 23px;
	background: url(../img/findsprites.png) no-repeat;
	transition: all 0.5s ease-in-out;
	&:hover{
		transform: scale(1.2);
	}
}
.find__links--twitt{
	@include bg(-20px);
}
.find__links--pint{
	@include bg(-42px);
}
// IMG
.img{
	margin: 50px 0px 81px 0px;
}
.imgblock{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: nowrap;
}
.width{
	max-width: 100%;
	
}
.left{
	flex: 1;
}
.right{
	flex: 1;
}
.right__bottom{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex: 1;
}
.girlinglass{
	flex: 1;
}
// SLIDER2-NACIGATION
.slider2__menu{
	margin: 0;
	padding: 0;
}
.slider2__links{
	display: block;
	text-transform: uppercase;
	padding: 20px 10px;
	color: #000;
}
.slider2__items--active{
	background: $pink;
	color: $white;
}
// SLIDER2
.slider2{
	background: $pink;
	padding: 20px 0;
}
.slider2__menu{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.carousel__items2{
	width: 220px;
	background: #fff;
	transition: all 0.6s ease-in-out;
	&:hover{
		transform: scale(1.05);
	}
	&:hover .shop_it{
		display: block;
	}
}
.shop_it{
	position: absolute;
	top: 93px;
	left: 43px;
	z-index: 1;
	display: none;
	transition: all 1s ease-out 1s;
}
.carousel__sale{
	position: absolute;
	margin: 0;
	z-index: 1000;
}
.carousel__sale:after{
	content: '';
	display: block;
	width: 0;
	height: 0;
	position: absolute;
	top: 0;
	border-bottom: 45px solid #000;
	border-left: 45px solid #bbb;
}
.carousel__bottom{
	text-align: center;
}
.bottom__text{
	text-transform: uppercase;
	margin: 5px 0;
}
.bottom__price{
	font-weight: bold;
	margin: 5px 0;
}
.bottom__button{
	text-transform: uppercase;
	color: $white;
	font-size: 13px;
	padding: 10px 22px 10px 10px;
	background: $pink;
	border: none;
	margin-bottom: 10px;
	position: relative;
	&:after{
		content: '';
		display: block;
		width: 15px;
		height: 15px;
		position: absolute;
		top: 11px;
		right: 2px;
		background: url(../img/plus.png) no-repeat;
	}
}
// CLEARANCE
.clearance{
	margin: 20px 0px 100px 0px;
}
.clearance .container{
	flex-direction: column;
}
.clearance__top{
	text-align: center;
	margin-bottom: 20px;
	position: relative;
}
.clearance__top:after{
	content: '';
	display: block;
	width: 390px;
	height: 2px;
	position: absolute;
	top: 80px;
	right: 0;
	background: $gray;
}
.clearance__top:before{
	content: '';
	display: block;
	width: 390px;
	height: 2px;
	position: absolute;
	top: 80px;
	background: $gray;
}
.clearance__bottom{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}
.clearance--items{
	background: $findBg;
}
// BRANDS
.brands{
	position: relative;
	text-align: center;
	// border-top: 1px solid $findBg;
	// border-bottom: 1px solid $findBg;
}
.brands .container {
	text-align: center;
	flex-flow: column nowrap;
}
.brands__text{
	text-transform: uppercase;
	&:before{
		content: '';
    display: block;
    width: 390px;
    height: 2px;
    top: 24px;
    right: 348px;
    position: absolute;
    background: #f7f7f7;
	}
	&:after{
		content: '';
    display: block;
    width: 390px;
    height: 2px;
    top: 24px;
    position: absolute;
    background: #f7f7f7;
	}
}
.brands__img:after{
	content: '';
	display: block;
	width: 100%;
	height: 2px;
	background: $findBg;
}
// ABOUT
.about .container{
	flex-flow: column nowrap;
	text-align: center;
}
.about__title{
	padding-top: 10px;
	position: relative;
}
.about__title:before{
	content: '';
	display: block;
	width: 100%;
	height: 2px;
	position: absolute;
	top: -5px;
	background: $findBg;
}
.about__text{
	margin: 0;
	padding-bottom: 30px;
}
// CREDIT
.credit{
	background: $findBg;
}
.credit .container{
	justify-content: space-around;
	align-items: center;
}
// PREFOOTER
.prefooter{
	background: $footerColor;
	color: $prefooterText;
	
}
.prefooter__menu{
	padding: 0;
}
.prefooter__links{
	display: block;
	font-size: 13px;
	color: $prefooterText;
	&:hover{
		color: $black;
	}
}
.prefooter__menu--social{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-flow: row wrap;
	width: 139px;
	justify-content: space-between;
}
.prefooter__menu--social .prefooter__links{
	width: 37px;
	height: 35px;
	background: url(../img/social__prefooter.png)no-repeat;
	margin-bottom: 10px;
}
.prefooter__menu--social .prefooter__links--p{
	@include bg(-37px);
}
.prefooter__menu--social .prefooter__links--f{
	@include bg(-74px);
}
.prefooter__menu--social .prefooter__links--g{
	@include bg(-111px);	
}
.prefooter__menu--social .prefooter__links--t{
	@include bg(-148px);
}
.prefooter__menu--social .prefooter__links--v{
	@include bg(-185px);	
}
.prefooter__img{
	padding-top: 28px;
}
// FOOTER
.footer{
	background: $black;
}
.footer__menu{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	padding: 0;
	align-items: center;
}
.footer__items{
	margin-right: 15px;
}
.footer__links{
	display: block;
	font-size: 11px;
	color: $footerText;
	&:hover{
		color: $white;
	}
}
.copy{
	color: $footerText;
	font-size: 11px;
}
// MEDIA
@media (max-width: 768px){
	.container{
		padding: 0 10px;
	}
	.slider .container{
		padding: 0px;
	}
	.header__bottom .container{
		flex-wrap: wrap;
	}
	nav{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: space-between;
		height: 60px;
		position: relative;
		order: 3;
		width: 100%;
		margin: 40px 0;
		padding: 0 10px;
		align-items: center;
		background: $pink;
		&:hover:before{
			background: #000;
		}
	}
	.menu-768{
		display: block;
		text-transform: uppercase;
		font-size: 13px;
		&:hover {
			color: $white;
		}
	}
	.header__menu{
		margin: 0;
		padding: 0;
		flex-direction: column;
		display: none;
		transition: all 0.5s easy-out;
	}
	.header__links:after{
		background: transparent;
	}
	.none-768{
		display: none;
	}
	// SLIDER2 CONTROLS
	.slider2__menu{
		padding-left: 2px;
	}
	.clearance__top:before, .clearance__top:after{
		width: 277px;
	}
	.brands__text:after, .brands__text:before{
		width: 277px;
	}
	.brands__text:after{
		right: 10px;
	}
	.brands__text:before{
		left: 10px;
	}
	// PREFOOTER
	.prefooter .container{
		flex-flow: row wrap;
	}
	.prefooter__items-1{
		order: 1;
	}
	.prefooter__items-2{
		order: 2;
	}
	.prefooter__items-3{
		order: 5;
	}
	.prefooter__items-4{
		order: 6;
	}
	.prefooter__items-5{
		order: 3;
	}
	.prefooter__items-6{
		order: 4;
	}
}
@media (max-width: 640px){
	.header__logo{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: center;
		margin-bottom: 20px;
	}
	.slider, .img{
		display: none;
	}
	.header__bottom .container{
		flex-direction: column;
	}
	.header__bottom{
		padding-bottom: 0px;
	}
	.bottom__inp, nav, .updated{
		height: 45px;
	}
	.bottom__inp2{
		display: none;
	}
	nav{
		box-sizing: border-box;
		margin: 10px 0;
	}
	.updated{
		background: none;
		margin-bottom: 80px;
	}
	.updated .container{
		flex-direction: column;
	}
	.find{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: center;
		margin: 10px 0;
	}
	.find__text{
		font-size: 16px;
	}
	.email__text{
		display: none;
	}
	.email__inp{
		margin: 0;
		height: 45px;
		width: 100%;
	}
	.brands, .about, .credit, .prefooter, .footer__menu{
		display: none;
	}
	.clearance__top:before, .clearance__top:after{
		display: none;
	}
	.none-640{
		display: none;
	}
}






