@import 'normalize',
				'fonts',
				'variables';
.container{
	max-width: 970px;
	margin: 0 auto;
}
@mixin bg($x){
	background-position: $x 0px;
}
// HEADER
.header__top{
	font-size: 11px;
	background: #000;
}
.container{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}
.top__number{
	text-transform: uppercase;
	color: $white;
}
.top__controls{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.top__form{
	margin-right: 10px;
}
.top__currency{
	border: none;
	background-color: transparent;
	color: $white;
}
.top__my-acc, .top__serach{
	display: inline-block;
	margin-right: 10px;
}
.top__my-acc{
	text-transform: uppercase;
}
.top__search{
	margin-right: 0;
}
.top__search:before{
	content: '';
	display: block;
	width: 17px;
	height: 17px;
	background: url(../img/search.png) center no-repeat
}
.header__center{
	padding: 31px 0 18px 0;
}
.logo{
	padding-top: 10px;
}
.header__menu{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: flex-start;
}
.header__items{
	margin-left: 45px;
}
.header__links{
	display: block;
	position: relative;
	color: #000;
}
.header__links:after{
	content: '';
	display: block;
	position: absolute;
	top: 7px;
	right: -14px;
	width: 7px;
	height: 7px;
	background: url(../img/arrow.png) no-repeat;
}
.center__inp{
	display: block;
	width: 212px;
	height: 25px;
	font-size: 12px;
	padding: 0 5px 0 5px;
}
.categories .container{
	border-top: 1px solid $lgray;
	border-bottom: 1px solid $lgray;
	padding: 5px 0 5px 0;
}
.categories__links{
	a{
		color: #000;
		position: relative;
		margin-left: 5px;
	}
}
.home{
	content: '';
	display: inline-block;
	width: 10px;
	height: 10px;
	margin-right: 3px;
	background: url(../img/home.png) no-repeat;
	&:after{
			content: '';
			display: inline-block;
			position: absolute;
			top: 3px;
			right: -9px;
			width: 6px;
			height: 5px;
			background: url(../img/arrowright.png) no-repeat;
	}
}
.women:after{
	content: '';
	display: inline-block;
	margin-right: 1px;
	position: absolute;
	top: 7px;
	right: -9px;
	width: 6px;
	height: 5px;
	background: url(../img/arrowright.png) no-repeat;
}
// SLIDER
.slider{
	background: #f6f3ec;
	margin-bottom: 75px;
}
.carousel__photo{
	padding-left: 50px;
}
.carousel__text-button{
	position: absolute;
	left: 135px;
	bottom: 93px;
	padding: 15px 35px;
	background: $pink;
	border: none;
	border-radius: 2px;
	color: $white;
	text-transform: uppercase;
	&:after{
		content: '';
		display: block;
		position: absolute;
		top: 20px;
		left: 130px;
		width: 5px;
		height: 10px;
		background: url(../img/arrowrightw.png) no-repeat;
	}
}
// UPDATED
.updated{
	background: $footerColor;
}
.updated .container{
	font-size: 11px;
}
.email{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}
.email__inp{
	margin-left: 15px;
	padding: 5px;
	height: 20px;
	font-size: 11px;
}
.find{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.find__menu{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}
.find__items{
	display: inline-block;
	width: 51px;
	text-align: center;
}
.find__links{
	display: block;
	width: 21px;
	height: 23px;
	background: url(../img/findsprites.png) no-repeat;
}
.find__links--twitt{
	@include bg(-20px);
}
.find__links--pint{
	@include bg(-42px);
}
// IMG
.img{
	margin: 50px 0px 81px 0px;
}
.imgblock{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: nowrap;
}
.left{
	flex: 1;
}
.right{
	flex: 1;
}
.right__bottom{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex: 1;
}
.girlinglass{
	flex: 1;
}
// SLIDER2-NACIGATION
.slider2__menu{
	margin: 0;
	padding: 0;
}
.slider2__links{
	display: block;
	text-transform: uppercase;
	padding: 20px 10px;
	color: #000;
}
.slider2__items--active{
	background: $pink;
	color: $white;
}
// SLIDER2
.slider2{
	background: $pink;
	padding: 20px 0;
}
.slider2__menu{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.carousel__items2{
	width: 220px;
	background: #fff;
}
.carousel__sale{
	position: absolute;
	margin: 0;
	z-index: 1000;
}
.carousel__sale:after{
	content: '';
	display: block;
	width: 0;
	height: 0;
	position: absolute;
	top: 0;
	border-bottom: 45px solid #000;
	border-left: 45px solid #bbb;
}
.carousel__bottom{
	text-align: center;
}
.bottom__text{
	text-transform: uppercase;
}
.bottom__price{
	font-weight: bold;
}
.bottom__button{
	text-transform: uppercase;
	color: $white;
	font-size: 13px;
	padding: 10px 22px 10px 10px;
	background: $pink;
	border: none;
	margin-bottom: 10px;
	position: relative;
	&:after{
		content: '';
		display: block;
		width: 15px;
		height: 15px;
		position: absolute;
		top: 11px;
		right: 2px;
		background: url(../img/plus.png) no-repeat;
	}
}



