// FOTNS
$regular: 'open_sansregular', arial, sans-serif;
$olight: 'open_sanslight', arial, sans-serif;
$semibold: 'open_sanssemibold', arial, sans-serif;



// COLORS
$white: #fff;
$black: #000;
$inpBg: #343c48;
$purple: #835fa8;
$dark: #232831;
$light: #2b303b;
$footer: #1a2124;
$txtLight: #696f7c;
$txtDark: #44484f;
$humanTxt: #9da5b0;
$conectivityBg: #e9eef1;
$lightBg: #f4f8fb;
$lastrowBg: #424f58;
