@font-face {
  font-family: 'Helvetica Neue Medium';
  src: url("../fonts/HelveticaNeue-Medium_22622.ttf") format("ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Helvetica Neue';
  src: url("../fonts/HelveticaNeue.ttf") format("ttf"), url("../fonts/HelveticaNeue.eot") format("eot"), url("../fonts/HelveticaNeue.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Helvetica Neue Bold';
  src: url("../fonts/HelveticaNeue-Bold.ttf") format("ttf"), url("../fonts/HelveticaNeue-Bold.eot") format("eot"), url("../fonts/HelveticaNeue-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

body {
  background: #eee; }

p {
  font-family: "Helvetica Neue Regular"; }
