@import "mixins";
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

*:hover,
*:active,
*:focus {
	outline: 0;
}
img{
	max-width: 100%;
}
.main{
	max-width: 90%;
}
body{
	background: #eee;
}
.main{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
}
.module{
	align-self: flex-start;
	width: 30%;
	margin: 30px 30px;
	border: 1px solid #000;
	border-radius: 5px;
	padding: 10px;
}
.module-control{
	margin-top: 10px;
}
.module-name{
	font-size: 24px;
}
.btn{
	padding: 10px 18px;
}
.id{
	display: block;
}




