@mixin btn($pd: 14px 35px){
  padding: $pd;
  background: $main;
  border: none;
  text-transform: uppercase;
  color: $white;
}

/// Flexbox
@mixin flex($direction: row, $spacing: space-between, $wrap: nowrap, $alignment: null) {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: $direction;
  justify-content: $spacing;
  flex-wrap: $wrap;
  align-items: $alignment;
}