
// COLORS
$white: #fff;
$black: #000;
$lightGrey: #e7e4e4;
$formBg: #f0f0f0;
$grey: #f8f8f8;
$darkGrey: #353f45;
$border: #545c61;
$submenuTxt: #939ba0;
$main_text: #808080; 

// MAIN SCHEME

$main: #f26c1c; 
$main_active: #b2d12d; 

// RED SCHEME
 
$red: #c44a35;
$red_active: #c44a35;   

// BLUE SCHEME
 
$blue: #44c2e9;  
$blue_active: #44c2e9; 

