// COLORS
$white: #fff;
$orange: #d16262;
$headerTop: #394e5b;
$header: #4c6677; 
$wwdBg: #e9edef;
$logo1: #eaebff;
$logo2: #dcdcdc;
$logo3: #e0c992;
$logo4: #8eabc7;
$logo5: #7a8c34;
$logo6: #efefef;
$btn: #d16262;
$teamBg: #394e5b;
$prefooter: #e9edef;


