// FONTS
$gilroyExBold:  'Gilroy Extra Bold', arial, sans-serif;
$gilroyLight: 'Gilroy Light', arial, sans-serif;
$evogria: 'Evogria';
$evogriaItalic: 'Evogria Italic', arial, sans-serif;
$bebas: 'Bebas Regular', arial, sans-serif;
$bebasBook: 'Bebas Book', arial, sans-serif;
$bebasBold: 'Bebas Bold', arial, sans-serif;
$bebasThin: 'Bebas Thin', arial, sans-serif;
$aaBebus: 'Aa Bebas Regular', arial, sans-serif;
$bebasCirilic: 'Bebas Cyrillic Regular', arial, sans-serif;

