// GLOBAL
@import 'mixins',
			   'var';
body{
	font-family: Arial, sans-serif;
}			   
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	color: #000;
	outline: 0;
	list-style-type: none;
}
.container{
	max-width: 1240px;
	margin: 0 auto;
	padding: 0 15px;
}
.slider-container{
	max-width: 1380px;
	margin: 0 auto;
	padding: 0 15px;
}
// HEADER
// top
.mobile-top{
	display: none;
}
.top{
	@include flex();
	margin-top: 35px;
}
.logo__subtitle{
	font-size: 14px;
	color: $subtitle;
}
.search{
	width: 495px;
	position: relative;
	&__field{
		width: 100%;
		height: 38px;
		border-radius: 3px;
		border: 1px solid $darkGray;
		padding: 0 8px;
	}
	&:after{
			content: '';
			display: block;
			width: 25px;
			height: 25px;
			background:  url(../img/search-icon.png) 0 0 no-repeat;
			position: absolute;
			right: 0;
			top: 8px;
		}
}
.contacts{
	@include flex();
	&__phone{
		margin-right: 20px;
		font-size: 24px;
	}
	&__schedule{
		font-size: 14px;
		.schedule{
			color: $gold;
		}
	}
}
// bottom
.bottom{
	@include flex();
	margin-top: 15px;
	height: 55px;
	border-top: 2px solid $gray;
	border-bottom: 2px solid $gray;
}
.nav{
	@include flex($spacing: space-around, $alignment: center);
	position: relative;
	.menu-icon{
		position: absolute;
		top: 17px;
		left: 0;
		&:hover{
			cursor: pointer;
		}
	}
}
.main-nav{
	@include flex($spacing: space-around);
	margin-left: 25px;
	&__items{
		position: relative;
	}
	&__links{
		font-weight: bold;
		text-transform: uppercase;
		margin-right: 20px;
		position: relative;
	}
}
.close-btn{
	display: none;
}
.fa-chevron-down, .fa-chevron-right{
	font-size: 14px;
	position: absolute;
	color: $gold;
}
.fa-chevron-down{
	top: 0px;
	right: 5px;
}
.fa-chevron-right{
	top: 12px;
	right: 14px;
}
.catalog, .wedding, .mans{
	width: 245px;
	border-radius: 3px;
	border: 1px solid $gray;
	background: #fff;
	transition: opacity .64s;
	&__items{
		padding: 9px 0;
		position: relative;
		color: $gold;
		transition: background .34s;
		&:hover{
			background: $gray;
		}
	}
	&__links{
		margin-left: 30px;
		position: relative;
		span{
			margin-left: 30px;
		}
		&:before{
			content: '';
			display: block;
			width: 15px;
			height: 15px;
			background: url(../img/circle.png) 0 0 no-repeat;
			position: absolute;
			top: 5px;
			left: -15px;
		}
	}
}
.catalog{
	opacity: 0;
	z-index: 120;
	position: absolute;
	top: 45px;
	left: -37px;
}
.visible{
	opacity: 1;
}
.wedding, .mans{
	position: absolute;
	right: -248px;
}
.wedding{
	top: -1px;
	opacity: 0;
}
.open-wedding{
	&:hover .wedding{
		opacity: 1;
	}
}
.open-mans{
	&:hover .mans{
		opacity: 1;
	}
}
.mans{
	opacity: 0;
	top: 3px;

}
.info{
	@include flex($alignment: center);
	text-transform: uppercase;
	font-weight: bold;
}
.basket{
	margin-right: 30px;
	&__count{
		padding: 2px;
		background: $gold;
		border: 1px solid $gold;
		color: #fff;
		border-radius: 50%;
		position: relative;
		&:after{
			content: '';
			display: block;
			width: 30px;
			height: 30px;
			background: url(../img/basket.png) 0 0 no-repeat;
			position: absolute;
			top: -2px;
			left: -35px;
		}
	}
	&__goods{
		color: $darkBlue;
	}
}
.login{
	a{
		position: relative;
	}
	a:before{
		content: '';
		display: block;
		width: 25px;
		height: 25px;
		background: url(../img/login-icon.png) 0 0 no-repeat;
		position: absolute;
		top: -2px;
		left: -25px;
	}
}
// slider
.slider-container{
	margin-top: 33px;
}
.slider{
	&__items{
		@include flex($alignment: center);
		min-height: 322px;
		background: url(../img/slider-bg.jpg) 50% 50% no-repeat;
		background-size: cover;
	}
}
.slider-txt{
	@include flex($direction: column,$spacing: center);
	max-width: 500px;
	height: 125px;
	margin-top: 100px;
	margin-left: 75px;
	background: rgba(210,166,107,.8);
	font-size: 34px;
	padding: 0 15px;
	p, span{
		color: #fff;
	}
}
.slick-prev{
	left: 0;
	z-index: 20;
	&:before{
		background: url(../img/left-arrow.png) center center no-repeat;
	}
}
.slick-next{
	right: 0;
	&:before{
		background: url(../img/right-arrow.png) center center no-repeat;
	}
}
.slick-prev, .slick-next{
	width: 30px;
	height: 123px;
	background: rgba(210,166,107,.8);
	transition: background .34s;
	&:before{
		content: '';
		display: block;
		width: 15px;
		height: 35px;
		margin-left: 5px;
	}
}
.slick-dots{
	bottom: -80px;
	li{
		margin: 0 8px;
		button:before{
			font-size: 63px;
		}
	}
}
.slick-dots li.slick-active button:before{
	color: $gold;
	&:hover{
		color: $gold;
	}
}
.slick-dots li button:hover:before, .slick-dots li button:focus:before{
	opacity: .25;
}
// media
@media screen and (max-width: 1200px){
	.main-nav{
		@include flex($wrap: wrap);
	}
	.main-nav__links, .basket, .login{
		font-size: 12px;
	}
	.contacts{
		&__phone{
			font-size: 15px;
			margin-right: 10px;
		}
		&__schedule{
			font-size: 10px;
		}
	}
}
@media screen and (max-width: 1050px){
	.search{
		width: 210px;
	}
}
@media screen and (max-width: 980px){
	.info{
		position: absolute;
		top: 70px;
		right: 14px;
	}
}
@media screen and (max-width: 760px){
	.mobile-top{
		display: block;	
		height: 40px;
		background: $lightGray;
	}
	.mobile-nav{
		height: 40px;
		@include flex($alignment: center);
		button{
			background: $blue;
			border: none;
			padding: 9px 15px;
			span{
				display: block;
				width: 15px;
				height: 2px;
				background: #fff;
				border: none;
				margin: 4px 0;
			}
		}
		a{
			display: block;
			width: 25px;
			height: 18px
		}
		&__home{
			background: url(../img/home.png) 0 0 no-repeat;
		}
		&__search{
			background: url(../img/search-gray.png) 0 0 no-repeat;
		}
		&__basket{
			background: url(../img/basket-gray.png) 0 0 no-repeat;
		}
		&__login{
			background: url(../img/login-gray.png) 0 0 no-repeat;
		}
		&__phone{
			background: url(../img/phone.png) 0 0 no-repeat;
		}
	}
	.search, .contacts, .info, .menu-icon{
		display: none;
	}
	.bottom{
		border: none;
	}
	.slider-container{
		margin-top: -53px;
	}
	.main-nav{
		text-align: center;
		@include flex($direction: column, $spacing: center, $alignment: center);
		display: none;
		height: 100%;
		width: 100%;
		position: fixed;
		z-index: 21;
		top: 0;
		left: -25px;
		background: rgba(0,0,0,.5);
		overflow-x: hidden;
		padding: 120px 20px;
		transition: .5s;		
		&__items{
			margin: 5px 0;
		}
		&__links{
			color: #fff;
		}
	}
	.close-btn{
		display: block;
		background-color: transparent;
		border: none;
		width: 25px;
		height: 25px;
		position: absolute;
		right: 0;
		span{
			display: block;
			width: 15px;
			height: 2px;
			background: #000;
			margin: 5px 0;
		}
	}
	.first{
		transform: rotate(45deg);
		position: absolute;
		top: 7px;
		left: 3px;
	}
	.second{
		transform: rotate(-45deg);
		position: absolute;
		top: 7px;
		left: 3px;
	}
	.fa, .catalog, .wedding, .mans{
		display: none;
	}
	.menu-icon{
		position: absolute;
		right: 0;
	}
	.slider-container{
		padding: 0;
	}
	.slider-txt{
		width: 210px;
		margin-top: 120px;
		margin-left: 40px;
		height: 80px;
		font-size: 15px;
	}
	.slick-prev, .slick-next{
		height: 50px;
	}
}
