#page_index .index_top {line-height:130%; padding-right:250px;}
#partner_top {padding-top:0; background:none;}
#sm_box {width:240px;}
#sm_box a.smb_link {width:90px;}
#sm_box .smb_fr {width:110px;}
.menu_head span {background-image:url(../img/sprite-menu-headings.png); height:26px; margin:0;}
.mustsee_head span {background-position:0px 0px;}
.beginner_head span {background-position:0px -26px;}
.basic_head span {background-position:0px -52px;}
.advanced_head span {background-position:0px -78px;}
.casinos_head span {background-position:0px -104px;}
.index_tools ul li a {line-height:130%; padding-top:5px; height:41px;}
.ixp-c-info {width:90px;}
.ixp-c-r {padding-right:0;}
.ft-copy {position:relative;}
.bottom {margin-top:-125px;}
.empty {height:125px;}
.gmbts-top {background:none;}
.gmbts-top .colorbox-screenshot {width:72px; background:url(../../img/des/newsletter-cheatsheet.gif) 50% 0 no-repeat;}
.gmbt-pbutts a {margin:0 auto; float:none;}
.rules_form_chapter {overflow:hidden;}
.rules_form_chapter input {float:left; margin-top:2px;}
.rules_form_chapter label {float:left; width:190px; margin-bottom:5px;}
.vdi-c {width:114px;}
.vdi-b {width:244px;}
.vid-item-inner {border-right:114px solid #ededed;}
.vid-item-inner-inner {margin-right:-114px; padding:10px 0 10px 7px;}
.vdi-watch {right:122px;}

/* cheat sheet */
.cheatsheet-grid {width:100%;}
.cheatsheet-grid td {padding:4px; vertical-align:top;}
.cs_container {position:relative; height:996px;}
.cs_card-values {top:0; left:0; position: absolute; width:236px; padding:0 4px 4px 0;}
.cs_counting-strategies {top:0; left:240px; position:absolute; width:304px; padding:0 0 4px 4px;}
.cs_strategy-advice {top:120px; left:0; position:absolute; width:236px; padding-left:0; padding:4px 4px 4px 0px;}
.cs_probabilities {top:287px; left:240px; position:absolute; width:108px; padding:4px;}
.cs_chart {top:287px; left:356px; position:absolute; width:188px; padding:4px 0 4px 4px;}
.cs_options {top:491px; left:0; position:absolute; width:236px; padding:4px 4px 4px 0;}
.cs_useful-links {top:691px; left:0; position:absolute; width:352px; padding:4px 4px 4px 0;}


.bs_stboxl {border-right:1px solid #ccc;}
.bs_stboxr {border-left:none;}
#numDecks {width:140px;}
.count-famous .countf-item {float: left; text-align: center; margin: 0 4px 0 0; text-decoration:none;}
.bjtools_right h3 {margin-top:4px;}
.main_menu .toolpage a {background:url(../img/outil.gif) 100% 2px no-repeat;}
#rfg-submit {width:133px}
.gmbts-form p {font-size:11px;}
.ixpt-us, .ixp-c-info .ixp-c-us {background-image:url(../img/flag.png);}
.bjtools_table {margin-top:10px;}

.wierd_table .review_top .uspic {background-image:url(../img/flag_21x14.gif); padding-left:26px;}
.pt-u span, .gmbt-pus {background:url(../img/flag_21x14.gif) 0 0 no-repeat;}
#rfg-thanks p {padding-top:18px;}